label {
  color: #14a76c;
  background-color: #282c34;
}

input.field {
  text-align: center;
  font-style: italic;
  color: #14a76c;
  background-color: #ffffff;
  width: 10%;
  display: inline-block;
}

input.button {
  font-weight: bold;
  color: #14a76c;
  background-color: #282c34;
  display: inline-block;
}

form {
  color: #14a76c;
  background-color: #282c34;
}

text {
  color: #14a76c;
  background-color: #282c34;
  font-weight: bold;
  font-style: italic;
}

p {
  font-weight: bold;
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
